:markdown
  ## Termo de Serviço
  ### Ao utilizar este site, eu atesto que:
  * Sei que falsidade ideológica é crime;
  * Preciso ser estudante matriculado para fazer uso da meia-entrada;
  * O Site não é de forma alguma responsável pelo uso da carteirinha aqui gerada;
  
