=form_for @university do |f|
  =f.label :acronymous, "Acronymous"
  =f.text_field :acronymous
  =f.label :name, "Name"
  =f.text_field :name
  =f.label :state_id, "State"
  =f.text_field :state_id
  =f.submit
